<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="planning/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button >
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Macrocicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h2 text-center>{{nameTeam}}</h2>
<form >
  <ion-item>
    <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required name="dataInici" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required name="dataFinish" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Materies</ion-label>
    <ion-select multiple="true" cancelText="Cancel" okText="Ok!" [compareWith]="compareWith" placeholder="Seleccinar Materies">
      <ion-select-option *ngFor="let m of materies">{{m.nom}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button fill="solid" expand="full" class="bg-btn">
      <ion-icon slot="end" name="add"></ion-icon>
      Afegir
    </ion-button>
</form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
      <ion-button expand="full" color="tertiary" (click)="onMicro()">
        <ion-icon slot="end" name="send"></ion-icon>
        Microcicles
      </ion-button>

  </ion-toolbar>
</ion-footer>