<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="planning"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ planningName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 text-center>{{ teamName[0].team }}</h2>
  <p>Afegir nous macrocicles</p>
  <form [formGroup]="macroForm" (ngSubmit)="onSubmit($event)">
    <ion-item>
      <ion-label position="floating">Nom Macrocicle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="name" required name="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="dataInit" required name="dataInit" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="dataFinish" required name="dataFinish" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Materies</ion-label>
      <ion-select formControlName="material" name="material" multiple="true" cancelText="Cancel" okText="Ok!"
        placeholder="Seleccinar Materies">
        <ion-select-option *ngFor="let material of material" [value]="material.id">{{material.material_macro}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button fill="solid" type="submit" expand="full" class="bg-btn" [disabled]="!macroForm.valid">
      <ion-icon slot="end" name="add"></ion-icon>
      Afegir
    </ion-button>
  </form>
  <div *ngIf="macros.length !== 0">
    <p >Llista de Macrocicles </p>
    <ion-list>
      <ion-item *ngFor="let m of macros" (click)="onMicro(m)">
        <ion-label>{{ m.macro }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>