<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="deport"></ion-back-button>
    </ion-buttons>
    <ion-title>Gesetió Club</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-img
          src="assets/deportes/hockey.svg"
          style="width: 4vh; height: 4vh;"
        ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button
          class="custom-btn"
          color="dark"
          expand="block"
          [routerLink]="['/users']"
        >
          Gestiona<br /> Usuaris
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-btn" expand="block" [routerLink]="['/team']">
          Gestiona<br /> Equips
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button
          class="custom-btn"
          color="success"
          expand="block"
          [routerLink]="['/planning']"
        >
          Gestiona <br />
          planificacions
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          class="custom-btn"
          color="tertiary"
          expand="block"
          [routerLink]="['/macro']"
        >
          Gestiona <br />
          macrocicles
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button
          class="custom-btn"
          color="medium"
          color="primary"
          expand="block"
          [routerLink]="['/micro']"
        >
          Gestiona <br />
          microcicles
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          class="custom-btn"
          color="dark"
          expand="block"
          [routerLink]="['/session']" 
        >
          Gestiona<br /> sessions
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
