ion-content{
  --background: null;
  background-image: url('/assets/deportes/hockey.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}
ion-button.custom-btn{
  height: 15vh;
}