
ion-card {
  --background: null;
  background-image: url('/assets/Fondo-op.png');
  background-repeat: no-repeat;
  background-size: contain;
}

ion-list.list-md {
  background: tvar(--ion-item-background,var(--ion-background-color));
}
ion-item {
  opacity: .8;
}
.bg-btn{
  --background: green;
}