<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="management"></ion-back-button>
    </ion-buttons>
    <ion-title>Llista de usuaris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
  <ion-item-sliding *ngFor="let user of users">
    <ion-item [routerLink]="['/users/create', user.id]">
      <ion-avatar slot="start">
        <img src="assets/icon/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.username }} {{ user.lastname }}</h2>
        <!-- <h4></h4> -->
        <ion-badge color="primary" *ngIf="user.cordinator == 1">Cordinador</ion-badge>&nbsp;
        <ion-badge color="tertiary" *ngIf="user.coach == 1">Entrenador</ion-badge>        
        <ion-badge color="secondary" *ngIf="user.player == 1">Jugador</ion-badge>        
      </ion-label>
      <ion-note slot="end">
        {{user.team_name}} 
      </ion-note>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="onTrash(user)">
        Eliminar
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
    
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button
      class="bg-btn"
      expand="full"
      fill="solid"
      [routerLink]="['/users/add']"
    >
      <ion-icon slot="start" name="add"></ion-icon>
      Afegir usuari
    </ion-button>
  </ion-toolbar>
</ion-footer>
