<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="team/update/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Afegir al equip</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="start" name="search"></ion-icon>
        Buscar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button #segment value="play" checked="checked">
      Selecciona jugador
    </ion-segment-button>
    <ion-segment-button #segment value="otros">
      Seleccionar altre
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="play">
    <form [formGroup]="filterEdad" (ngSubmit)="onSubmit($event)">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Data d'inici</ion-label>
            <ion-datetime formControlName="dateInit" name="dateInit" display-format="DD.MM.YYYY" required>
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Data final</ion-label>
            <ion-datetime formControlName="dateFinish" name="dateFinish" display-format="DD.MM.YYYY" required>
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button class="bg-btn" type="submit" expand="full" fill="solid">
        <ion-icon slot="end" name="send" disabled="filterEdad.valid"></ion-icon>
        Aceptar
      </ion-button>
    </form>
    <ion-list *ngIf="users.length !== 0">
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img src="assets/icon/user.png" />
        </ion-avatar>
        <ion-label>{{ user.username }}</ion-label>
        <ion-checkbox slot="end" name="user" [checked]="isChecked" (ionChange)="onCheck(user.username)"></ion-checkbox>
      </ion-item>
      <ion-button class="bg-btn" type="submit" expand="full" fill="solid">
        <ion-icon slot="end" name="send"></ion-icon>
        Afegir jugadors
      </ion-button>
    </ion-list>
  </div>
  <div *ngIf="otros">
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select multiple="true" canselText="cancelar" okText="ok!" placeholder="Tipo" (ionChange)="onSelect($event)">
        <ion-select-option value="1">Cordinador</ion-select-option>
        <ion-select-option value="2">Entrenador</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list [hidden]="hidden">
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img src="assets/icon/user.png" />
        </ion-avatar>
        <ion-label>{{ user.name }}</ion-label>
        <ion-checkbox slot="end" name="user" [checked]="isChecked" (ionChange)="onCheck(user.name)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<!-- aria-pressed="true" -->
<!-- [(ngModel)]="itemSelected" name="itemSelected" -->
<!-- (ionChange)="dataInit($event.detail.value)" -->