<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="team"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizació {{team.team}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 text-center></h2>
  <ion-button expand="block" fill="solid" class="bg-btn" (click)="onPlanning()">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    Planificacions
  </ion-button>
  <ion-button expand="block" fill="solid" color="tertiary" [routerLink]="['/ratings']">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    Valoracions
  </ion-button>
  <ion-button expand="block" fill="solid" color="secondary" [routerLink]="['/team/play']">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    Jugador / Personal
  </ion-button>
</ion-content>