<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>Afegir nous usuaris</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
    <ion-item>
      <ion-label position="inline">Nom <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="username" name="username" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Cognom <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="lastname" name="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Correo electronic <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="email" name="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Contrasenya <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Telèfon <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="telf" name="telf" type="tel"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Direcció <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="address" name="address" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">DNI <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="dni" name="dni" type="text" placeholder="ej.(12345678D)"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Data de neixament <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="birthday" name="birthday" type="date"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <input #file type="file" id="fileLoader" name="files" title="Load File" />
    </ion-item>
    <ion-button class="bg-btn" type="submit" expand="full" fill="solid" [disabled]="!userForm.valid">
      <ion-icon slot="end" name="send"></ion-icon>
      Afegir Usuari
    </ion-button>
  </form>
</ion-content>