<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="macro"></ion-back-button>
    </ion-buttons>
    <ion-title>{{namePlanning.name}}</ion-title>
    <ion-badge slot="end" color="primary" mode="md" style="margin-right: 15px">{{nameTeam.name}}</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 text-center>{{nameMacro.macro}}</h2>
  <form [formGroup]="microForm" (ngSubmit)="onSubmit($event)">
    <p>Afegir un nou microcicle</p>
    <ion-item>
      <ion-label position="floating">Nom Microcicle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="micro" required name="micro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="dateInit" required name="dateInit" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline">Data d'Inici <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="dateFinish" required name="dateFinish" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Materies</ion-label>
      <ion-select formControlName="material" name="material" multiple="true" cancelText="Cancel" okText="Ok!"
        placeholder="Seleccinar Materies">
        <ion-select-option *ngFor="let m of materies"></ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button fill="solid" type="submit" expand="full" class="bg-btn" [disabled]="!microForm.valid">
      <ion-icon slot="end" name="add"></ion-icon>
      Afegir
    </ion-button>
  </form>
  <ion-list *ngIf="micros">
    <ion-item *ngFor="let mi of micros" (click)="onSession()">
      <ion-label>{{mi.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>