<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 text-center>Actualizar Usuario</h3>
  <form #actForm="ngForm" (ngSubmit)="onSubmit(actForm)">
    <ion-item>
      <ion-label position="floating">Nom </ion-label>
      <ion-input name="username" type="text" [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Congnom </ion-label>
      <ion-input name="lastname" type="text" [(ngModel)]="user.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contrasenya </ion-label>
      <ion-input name="password" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telèfon</ion-label>
      <ion-input name="tel" type="number" [(ngModel)]="user.telf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Equip</ion-label>
      <ion-input name="team" type="text" [(ngModel)]="user.team"></ion-input>
    </ion-item>
    <ion-button class="bg-btn" expand="block" type="submit">
      <ion-icon slot="end" name="send"></ion-icon>
      Actualitza Usuari
    </ion-button>
  </form>
</ion-content>