<ion-header>
  <ion-toolbar>
    <ion-title>deport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" [routerLink]="['/management']">
          HOCKEY
          <ion-img src="/assets/deportes/hockey.svg"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="onFutbol()">
          FUTBOL
          <ion-img src="/assets/deportes/futbol.svg"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="onBaloncesto()">
          BALONCESTO
          <ion-img src="/assets/deportes/baloncesto.svg"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="onAtletismo()">
          ATLETISMO
          <ion-img src="/assets/deportes/atletismo.svg"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="onTenis()">
          TENIS
          <ion-img src="/assets/deportes/tennis.svg"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
