<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="ratings"></ion-back-button>
  </ion-buttons>
  <ion-title>Valoració del juador</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-img src="assets/icon/user.png" style="width: 20vh; height: 20vh;"></ion-img>
        <ion-card-title>{{user.username}} {{user.lastname}}</ion-card-title>
      </ion-item>
      <ion-label>{{user.team}}</ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>