<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="management"></ion-back-button>
    </ion-buttons>
    <ion-title>Equips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngFor="let team of teams">
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>{{team.team_name}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option [routerLink]="['/team/update/', team.id]">
          Editar
          <ion-icon slot="end" name="create" ></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(team)">
          Eliminar
          <ion-icon slot="end" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button type="submit" class="bg-btn" expand="block" (click)="alert()">
      <ion-icon slot="start" name="add"></ion-icon>
      Afegir Equip
    </ion-button>
  </ion-toolbar>
</ion-footer>
