<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="team"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Gestión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h1>LOGO</h1>
<p>Entrenador: {{coach.name}}</p>
<p>Equipo: {{team}}</p>
<p>Planificación: {{planning}}</p>
<ion-button expand='block' (click)="onClick()">
  PLanificación
</ion-button>
<ion-button expand='block' (click)="onClick()">
  Sesiones
</ion-button>
<ion-button expand='block' (click)="onClick()">
  Jugador
</ion-button>
</ion-content>
